/* Import Work Sans and Merriweather fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
:root {
  /* spaces */
  /* These values assume a base font size of 16px.*/
  --spacing-xs: 0.25em; /* 4px */
  --spacing-sm: 0.5em; /* 8px */
  --spacing-md: 1em; /* 16px */
  --spacing-lg: 1.5em; /* 24px */
  --spacing-xl: 2em; /* 32px */

  /* radius */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
}

/* Resets */

body {
  font-family: "Work Sans", system-ui;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", system-ui;
  margin: 0;
}

body p {
  margin: 0;
}

/* Pages styles */

#root {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(135, 183, 255, 0.52)
    ),
    url(/public/images/calendar_screenshot.png) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root > article {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-sm);
  width: 50%;
  height: 50%;
  border-radius: var(--radius-md);
}
