{{define "root"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/index.css" rel="stylesheet" />
    <script src="/public/javascript/htmx.min.js"></script>
    <title>What The Tide</title>
  </head>
  <body>
    <main id="root">
      <form
        hx-post="/agenda/subscription"
        hx-swap="outerHTML"
        class="Flex Flex_Direction--column Flex_Gap--md"
      >
        <label for="email"
          >Eemail rattacher au compte google sur lequel vous souhaitez que le
          calendrier apparaisse.
        </label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="whatthetide@gmail.com"
          required
        />
        <label for="port_id"
          >Port pour lequel vous souhaitez recevoir les marées</label
        >
        <select name="port_id" id="port_id" required>
          <option value="">--Veuillez choisir un port--</option>
          {{range .}}
          <option value="{{.ID}}">{{.Name}}</option>
          {{end}}
        </select>
        <div class="Flex Flex_Direction--row-reverse">
          <button class="Button Button--color-primary">
            <span class="Button__Text">Accéder au calendrier</span>
            <div
              class="Loader Loader--color-white Loader--size-sm Button__Loader"
            ></div>
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
{{end}}
